<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http use-expressions="true">
		<intercept-url pattern="/captcha" access="permitAll" />
		<intercept-url pattern="/images" access="permitAll" />
		<intercept-url pattern="/images/*" access="permitAll" />
		<intercept-url pattern="/scripts" access="permitAll" />
		<intercept-url pattern="/scripts/*" access="permitAll" />
		<intercept-url pattern="/styles" access="permitAll" />
		<intercept-url pattern="/styles/*" access="permitAll" />
		<intercept-url pattern="/" access="isAnonymous()" />
		<intercept-url pattern="/login" access="isAnonymous()" />
		<intercept-url pattern="/**" access="denyAll" />

		<logout logout-success-url="/login" />

		<form-login login-page="/login" default-target-url="/"
			authentication-failure-url="/login" />
		<logout logout-success-url="/login" />
	</http>

	<beans:bean id="myAuthenticationProvider"
		class="com.mftvanak.edusys.ui.web.staff.auth.EduSysAuthenticationProvider" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="myAuthenticationProvider" />
	</authentication-manager>

</beans:beans>