<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="org.labcrypto.edusys.ws" />

	<bean id="gheyas"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition"
		p:portTypeName="Gheyas" p:locationUri="/gheyas/" p:requestSuffix="Request"
		p:responseSuffix="Response">
		<property name="schema">
			<bean class="org.springframework.xml.xsd.SimpleXsdSchema" p:xsd="classpath:/gheyas.xsd" />
		</property>
	</bean>

	<bean id="gheyasConfigurations" class="java.util.HashMap">
		<constructor-arg>
			<map key-type="java.lang.Integer"
				value-type="com.mftvanak.edusys.domain.dao.gheyas.GheyasConfiguration">
				<entry key="1">
					<bean class="com.mftvanak.edusys.domain.dao.gheyas.GheyasConfiguration">
						<property name="server" value="db.gheyas.mftvanak.com" />
						<property name="port" value="1433" />
						<property name="databaseName" value="Seyagh" />
						<property name="username" value="edusys" />
						<property name="password" value="edusyspass" />
					</bean>
				</entry>
				<entry key="2">
					<bean class="com.mftvanak.edusys.domain.dao.gheyas.GheyasConfiguration">
						<property name="server" value="db.gheyas.mftnarmak.com" />
						<property name="port" value="1433" />
						<property name="databaseName" value="MftNarmak" />
						<property name="username" value="edusys" />
						<property name="password" value="edusyspass" />
					</bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>

	<bean
		class="org.springframework.ws.soap.server.endpoint.SoapFaultAnnotationExceptionResolver" />

	<bean id="userDao" class="com.mftvanak.edusys.domain.dao.membership.UserDao" />
	<bean id="roleDao" class="com.mftvanak.edusys.domain.dao.membership.RoleDao" />
	<bean id="tokenDao" class="com.mftvanak.edusys.domain.dao.membership.TokenDao" />
	<bean id="auditLogDao" class="com.mftvanak.edusys.domain.dao.audit.AuditLogDao" />

	<bean id="gheyasDao"
		class="com.mftvanak.edusys.domain.dao.gheyas.impl.GheyasDaoImpl" />

	<bean id="gheyasFacade" class="com.mftvanak.edusys.facade.gheyas.impl.GheyasFacadeImpl" />

	<bean id="authenticationFacade"
		class="com.mftvanak.edusys.facade.authentication.impl.AuthenticationFacadeImpl" />

	<bean id="auditFacade" class="com.mftvanak.edusys.facade.audit.impl.AuditFacadeImpl" />

	<bean id="gheyasService"
		class="com.mftvanak.edusys.ws.gheyas.services.impl.GheyasServiceImpl" />

	<bean id="authenticationService"
		class="com.mftvanak.edusys.ws.gheyas.services.impl.FacadeAuthenticationService" />

	<bean id="authorizationService"
		class="com.mftvanak.edusys.ws.gheyas.services.impl.AuthorizationServiceImpl" />

	<bean id="securityService"
		class="com.mftvanak.edusys.ws.gheyas.services.impl.SecurityServiceImpl" />

	<bean id="auditService"
		class="com.mftvanak.edusys.ws.gheyas.services.impl.AuditServiceImpl" />
</beans>
