<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Mftvanak.Edusys.Ui.Desktop.PhoneBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Com.Mftvanak.Edusys.Ui.Desktop.PhoneBook.Properties.Settings>
            <setting name="Com_Mftvanak_Edusys_Ui_Desktop_PhoneBook_AuthenticationServiceWebReference_AuthService"
                serializeAs="String">
                <value>http://91.98.134.248:8080/com.mftvanak.edusys.ws.authentication-0.0.1-SNAPSHOT/authentication/</value>
            </setting>
            <setting name="Com_Mftvanak_Edusys_Ui_Desktop_PhoneBook_PhoneBookServiceWebReference_PhoneBookService"
                serializeAs="String">
                <value>http://91.98.134.248:8080/com.mftvanak.edusys.ws.phonebook-0.0.1-SNAPSHOT/phonebook/</value>
            </setting>
            <setting name="Com_Mftvanak_Edusys_Ui_Desktop_PhoneBook_EmployeeWebReference_EmployeeService"
                serializeAs="String">
                <value>http://91.98.134.248:8080/com.mftvanak.edusys.ws.official-0.0.1-SNAPSHOT/employee/</value>
            </setting>
            <setting name="Com_Mftvanak_Edusys_Ui_Desktop_PhoneBook_UserWebReference_UserService"
                serializeAs="String">
                <value>http://91.98.134.248:8080/com.mftvanak.edusys.ws.membership-0.0.1-SNAPSHOT/user/</value>
            </setting>
        </Com.Mftvanak.Edusys.Ui.Desktop.PhoneBook.Properties.Settings>
    </applicationSettings>
</configuration>