<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.mftvanak.edusys.engine" />

	<!-- General reservations -->

	<bean id="generalReservationListDownloader"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.general.HttpGeneralReservationListDownloader">
		<constructor-arg index="0"
			value="http://www.mftvanak.com/rApi.php?PASS=OpenApI12333" />
	</bean>
	<bean id="generalReservationListProcessor"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.general.XmlParserGeneralReservationListProcessor" />
	<bean id="generalReservationListPersistor"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.general.DatabaseGeneralReservationListPersistor" />

	<bean id="generalReservationListDownloadTask"
		class="com.mftvanak.edusys.engine.scheduler.education.DownloadTask">
		<property name="name" value="GeneralReservationListDownloadTask" />
		<property name="downloader" ref="generalReservationListDownloader" />
		<property name="processor" ref="generalReservationListProcessor" />
		<property name="persistor" ref="generalReservationListPersistor" />
	</bean>

	<bean id="generalReservationListDownloadTaskDefinition" class="com.mftvanak.edusys.engine.scheduler.TaskDefinition">
		<property name="interval" value="7200000" />
		<property name="name" value="general-reservation-list-downloader-task" />
		<property name="runOnStart">
			<value type="java.lang.Boolean">true</value>
		</property>
		<property name="task" ref="generalReservationListDownloadTask" />
	</bean>

	<!-- Reservations -->

	<bean id="reservationListDownloader"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.HttpReservationListDownloader">
		<constructor-arg index="0"
			value="http://www.mftvanak.com/rApi2.php?PASS=OpenApI12333" />
	</bean>
	<bean id="reservationListProcessor"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.XmlParserReservationListProcessor" />
	<bean id="reservationListPersistor"
		class="com.mftvanak.edusys.engine.scheduler.education.reservation.DatabaseReservationListPersistor" />

	<bean id="reservationListDownloadTask"
		class="com.mftvanak.edusys.engine.scheduler.education.DownloadTask">
		<property name="name" value="ReservationListDownloadTask" />
		<property name="downloader" ref="reservationListDownloader" />
		<property name="processor" ref="reservationListProcessor" />
		<property name="persistor" ref="reservationListPersistor" />
	</bean>

	<bean id="reservationListDownloadTaskDefinition" class="com.mftvanak.edusys.engine.scheduler.TaskDefinition">
		<property name="interval" value="7200000" />
		<property name="name" value="general-reservation-list-downloader-task" />
		<property name="runOnStart">
			<value type="java.lang.Boolean">true</value>
		</property>
		<property name="task" ref="reservationListDownloadTask" />
	</bean>

	<!-- Sms Sender -->

	<!-- <bean id="smsSender" class="com.mftvanak.edusys.common.messaging.impl.HttpSmsSender">
		<property name="url"
			value="http://sms.niazpardaz.com/post/sendWithDelivery.ashx" />
		<property name="username" value="mftvanak" />
		<property name="password" value="@mftsms" />
		<property name="from" value="10000088889796" />
	</bean>

	<bean id="smsSenderTask"
		class="com.mftvanak.edusys.engine.scheduler.messaging.SmsSenderTask">
		<property name="name" value="SmsSenderTask" />
	</bean>

	<bean id="smsSenderTaskDefinition" class="com.mftvanak.edusys.engine.scheduler.TaskDefinition">
		<property name="interval" value="300000" />
		<property name="name" value="sms-sender-task" />
		<property name="runOnStart">
			<value type="java.lang.Boolean">true</value>
		</property>
		<property name="task" ref="smsSenderTask" />
	</bean> -->
	
	<!-- Tasks -->

	<bean id="taskDefinitions" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="generalReservationListDownloadTaskDefinition" />
				<ref bean="reservationListDownloadTaskDefinition" />
				<!-- <ref bean="smsSenderTaskDefinition" /> -->
			</list>
		</constructor-arg>
	</bean>

	<bean id="scheduler" class="com.mftvanak.edusys.engine.scheduler.Scheduler">
		<property name="taskDefinitions" ref="taskDefinitions" />
	</bean>

	<bean id="cmsFacade" class="com.mftvanak.edusys.facade.cms.impl.CmsFacadeImpl" />
	<!-- <bean id="messagingFacade"
		class="com.mftvanak.edusys.facade.messaging.impl.MessagingFacadeImpl" /> -->
	<bean id="cmsDepartmentDao" class="com.mftvanak.edusys.domain.dao.cms.CmsDepartmentDao" />
	<bean id="cmsGroupDao" class="com.mftvanak.edusys.domain.dao.cms.CmsGroupDao" />
	<bean id="cmsClassDao" class="com.mftvanak.edusys.domain.dao.cms.CmsClassDao" />
	<bean id="cmsGeneralReservationDao"
		class="com.mftvanak.edusys.domain.dao.cms.CmsGeneralReservationDao" />
	<bean id="cmsReservationDao" class="com.mftvanak.edusys.domain.dao.cms.CmsReservationDao" />
	<bean id="cmsReservationPlanDao"
		class="com.mftvanak.edusys.domain.dao.cms.CmsReservationPlanDao" />

</beans>
